
<div class="main" [style]="{'background' : 'url(' + backdropImage + moviesDetails.backdrop + ')'}">
  <div class="container-sm">
      <div class="hero_text">
      <h1>{{moviesDetails.title}}</h1>
      <p>{{moviesDetails.overview}}</p>
    </div>
    <div class="swiper_btns">
      <a  class="swiper_btn" (click)="getVideoKey(moviesDetails.id)">Watch Trailer</a>
      <a  class="swiper_btn"> <i class='bx bx-play'></i> Watch Now</a>
    </div>
  </div>
</div>


<div class="slider">
  <div class="slider_container">
    <swiper-container centered-slides="true"  autoplay-delay="5000" cssmode="true" slides-per-view="auto" class="swiper" (swiperslidechangetransitionstart)="onswiperSlide()" >
      @for (item of popularShows; track $index) {
        <swiper-slide class="swiper-slide" [attr.data-id]="$index"  >
          <div class="slider_item" >
            <img [src]="image + item.poster_path"  alt="">
          </div>
        </swiper-slide>
      }
    </swiper-container>
  </div>
</div>



<app-movies-swiper></app-movies-swiper>
<app-tvseries-swiper></app-tvseries-swiper>

<app-pop-up [key]="keyValue" [active]="activeOverlay" (deactivate)="changeValue($event)"></app-pop-up>
