<section class="footer">
  <div class="container">
    <div class="footer_list">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#live">Live</a></li>
        <li><a href="#you-must-watch">You Must Watch</a></li>
        <li><a href="#contact-us">Contact Us</a></li>
      </ul>
    </div>

    <div class="footer_list">
      <ul>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#recent-release">Recent Release</a></li>
        <li><a href="#terms-of-service">Terms of Service</a></li>
        <li><a href="#premium">Premium</a></li>
      </ul>
    </div>

    <div class="footer_list">
      <ul>
        <li><a href="#top-imdb">Top IMDB</a></li>
        <li><a href="#about-us">About Us</a></li>
        <li><a href="#privacy-policy">Privacy Policy</a></li>
      </ul>
    </div>
  </div>

</section>
