.header {
  position: fixed;
  width: 100%;
  height: 3.5rem;
  z-index: 100;
  top: 0;
  left: 0;
  transition: 0.3s;
}

.nav {
  display: flex;
justify-content: space-between;
align-items: center;
height: 100%;
}
.nav_logo a{
  color: white;
}
.nav_list {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  justify-content: space-between;
  width: 100%;
}
.nav_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.nav_link span {
font-size: 14px;
}
.nav_icon {
  transition: 0.3s;
  width: 50px;
  height: 50px;
  display : grid;
  place-items: center;
  border-radius: 50%;
}
.nav_menu .nav_icon i{
font-size: 25px;
}
.selected i{
color: white;
}
/* on Scroll */
.scroll {
  background-color: var(--navbar-color);
  backdrop-filter: blur(10px);

  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}
.scroll .nav_logo a{
  color: var(--text-color);
}
.scroll .nav_menu .nav_link {
  color: var(--text-color);
}
.scroll .btns .selected{
  color: var(--text-color);
}
.nav_link.active {
position: relative;
}
.nav_link.active::before {
  content:  "";
  height: 3px;
  width: 100%;
  bottom: -3px;
  position: absolute;
  background-color: red;
  left: 50%;
  border-radius: 8px;
  transform: translateX(-50%);
}
.btns {
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}

.scroll .selected i{
  color: var(--text-color);
  }
  .btns_dropDown {
    position: absolute;
    bottom:-180px;
    right: 0;
    width: 100px;
    background-color: var(--first-color);
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
  }
  .visable {
    bottom: -130px;
    opacity: 1;
    pointer-events: all;
  }
  .dropdown_btn {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--text-color);
    border: none;
    outline: none;
  }
/* on Scroll */
@media screen  and (min-width:568px){
.nav .nav_menu {
position: relative;
background-color: transparent;
left: 0;
bottom: 0px;
transform: translateX(0%);
padding: 0px 0px;
display: flex;
justify-content: center;
width: auto;
flex: 1;
}

.nav_list {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 0;
  margin-left: auto;
  padding-left: 0;
  width: auto;
}
.nav_link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav_link span {
font-size: 16px;
}
.nav_icon {
  display: none;
}
}
