<header class="header">
  <div class="nav container-lg">
    <div class="nav_logo">
      <a href="">Imovies</a>
    </div>
      <div class="nav_menu">
        <ul class="nav_list">
          <li class="nav_item">
            <a href="" class="nav_link">
              <div class="nav_icon">
                <i class='bx bx-home-alt-2' ></i>
              </div>
              <span>Home</span></a>
          </li>
          <li class="nav_item">
            <a href="#" class="nav_link">
              <div class="nav_icon">
                <i class='bx bx-movie'></i>
              </div>
              <span>Movies</span>
            </a>
          </li>
          <li class="nav_item">
            <a href="#" class="nav_link">
              <div class="nav_icon">
                <i class='bx bx-tv' ></i>
                </div>
            <span>Tv Series</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="btn">
        <i class='bx bx-moon' ></i>
        <i class='bx bx-sun' ></i>
      </div>
  </div>
</header>
