.slider-container {
width: 100%;
}
.swiper {
  height: fit-content;
  padding: 20px 0;
}
.swiper-slide {
  filter: brightness(0.5);
  transition: 0.3s;
  width: 200px ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.swiper-slide-active {
  filter: brightness(1);
}
.slider_item {
  width: 150px;
}
.slider_item img {
  width: 100%;
  border-radius: 8px;
}

.swiper-slide {
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.swiper-slide-active {
  transform: scale(1.2); /* Scale up the active slide */
  z-index: 10; /* Ensure the active slide stays on top */
}

.slider_item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease; /* Smooth transition for the image */
}
